*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#impagginamento{
    display: flex;
}
#contenitoreCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 830px;
}

#punteggio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column ;
    gap: 25px;
}

.card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card-inner.flipped  {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: rgb(21, 56, 250);
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid rgb(21, 56, 250);
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
  overflow: hidden;
}

.giocatore1 {
  
  transform: scale(1.2); 
  transition: transform 0.2s, border 0.2s; 
  border-radius: 20px;
  padding: 5px;
}

.giocatore2 {
  
  transform: scale(1.2);
  transition: transform 0.2s, border 0.2s;
  border-radius: 20px;
  padding: 5px;
}
.giocatore{
  font-size: 30px;
}